= simple_form_for(@reservation) do |f|
  = f.error_notification

  .form-inputs
    = user_selection_input(f, @reservation)
  .form-inputs
    = dishes_selection_input(:dish, f)
  .form-inputs
    = dishes_selection_input(:backup_dish, f)
  .form-inputs
    = f.input :comment, as: :text
  .form-actions
    = f.button :submit
