%h1 Listing reservations

%table.table.table-bordered.table-hover
  %tr
    %th User
    %th Dishes
    %th Backup dishes
    %th Price
    %th Updated at
    %th Comment
    %th
    %th
  - @reservations.each do |reservation|
    %tr
      %td= reservation.user.name
      %td= reservation.dishes.map(&:name).join(', ')
      %td= reservation.backup_dishes.map(&:name).join(', ')
      %td= reservation.price
      %td= reservation.updated_at.in_time_zone.strftime '%b-%d-%H:%M'
      %td= reservation.comment
      %td= link_to 'Edit', edit_reservation_path(reservation)
      %td= link_to 'Destroy', reservation, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br
= button_to 'New Reservation', new_reservation_path, class: 'btn btn-primary', method: :get
